{% extends 'base.html.twig' %}

{% block title %}Add post{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
    </ul>
    <div class="container">
        <p class="title">Create your post!</p>
        {{ form(form_add_post) }}
    </div>
{% endblock %}